*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.logo{
    font-size: 30px;
    color: #fff;
    margin-left: 5px;
}
.logo:before{
    content:'';
    position: absolute;
    background: turquoise;
    height: 4px;
    width: 34px;
    margin-top:34px ;
    

}

.main{
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 255, 255,0.25);
}
.main .text{
    text-align: center;
    color: aqua;
    margin-top: 10px;
}

.main label{
    color:  rgba(255, 255, 255, 0.586);
    
}
.main label:hover{
    text-decoration: underline;

}
.inputBox{
    width: 350px;
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.inputBox input:focus{
background-color: rgba(255, 255, 255, 0.25);
box-shadow: 0 5px 10px rgba(0, 255, 255,0.25);
}
.forgot{
    margin-top: 20px;
    

}
.forgot a{
    color:aqua;
    margin-left: 10px;
    text-decoration: none;

}

.inputBox i{
    position: absolute;
    font-size: 18px;
    left: 22px;
    color: rgb(0, 255, 255);
}
.inputBox input{
    width: 100%;
    padding: 15px 25px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 12px;
    color: rgb(0, 255, 255) ;
    font-size: 1em;
    text-indent: 20px;
    transition: 0.5s ease;
    font-weight: 530;
    box-shadow: 0 4px 8px rgba(0, 255, 255,0.25);
    
}

.inputBox .b{
background-color:rgba(0, 255, 255, 0.25) ;
color: rgb(255, 255, 255);
text-transform: uppercase;
font-weight: 600;
}
.inputBox .b:hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: aqua;
    font-size: 17px;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 15px 20px;
    /* pointer-events: none; */
    pointer-events: none;
    font-size: 1em;
    color:rgb(255, 255, 255);
    letter-spacing: 0.1em;
    transition: 0.5s;
    text-transform: uppercase;   
    margin-left:30px;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span{
color: rgb(0, 255, 255);
font-size: 0.75em;
transform: translateX(10px) translateY(-25px);
padding:0 5px;
background-color:#7a7a7a;
border-radius: 6px;
padding: 4px;
}

#toggle{
    position: absolute;
    background: url(show-alt-regular-24.png);
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    height: 30px;
    width: 30px;
    background-size: cover;
    cursor: pointer;
}
#toggle.hide
{
    background: url(hide-regular-24.png);
    background-size: cover;
     
}
@media(max-width:720px){
   

}
